In [367]:
import pandas as pd 
import numpy as np

In [368]:
ele_2023 = pd.read_csv("Data/Presidential_Elections_Turkey_2023.csv")
ele_2023.head()

,City,Recep Tayyip Erdogan Percentage,R E Votes,Kemal,Kemal Votes
0,Adana,45.96,621003,54.04,730274
1,Adiyaman,68.84,216491,31.16,97982
2,Afyonkarahisar,67.84,312452,32.16,148136
3,Agri,34.66,68790,65.34,129693
4,Amasya,59.16,134428,40.84,92811

In [369]:
ele_2023.info()
duplicate_rows = ele_2023.duplicated()
number_of_duplicates = ele_2023.duplicated().sum()
number_of_duplicates
ele_2023 = ele_2023.rename(columns={"Recep Tayyip Erdogan Percentage": "AK","R E Votes": "AK Votes", "Kemal":"CHP", "Kemal Votes": "CHP Votes"})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             81 non-null     object
 1   Recep Tayyip Erdogan Percentage  81 non-null     float64
 2   R E Votes                        81 non-null     int64
 3   Kemal                            81 non-null     float64
 4   Kemal Votes                      81 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 3.3+ KB

In [370]:
print(ele_2023.columns)

Index(['City', 'AK', 'AK Votes', 'CHP', 'CHP Votes'], dtype='object')

In [371]:
ele_2023["AK"] = ele_2023["AK"] / 100
ele_2023["CHP"] = ele_2023["CHP"] / 100
 



ele_2023['Winner Party'] = np.where(ele_2023['AK Votes'] > ele_2023['CHP Votes'], 'AK', 'CHP')

ele_2023.head()

             City      AK  AK Votes     CHP  CHP Votes Winner Party
0           Adana  0.4596    621003  0.5404     730274          CHP
1        Adiyaman  0.6884    216491  0.3116      97982           AK
2  Afyonkarahisar  0.6784    312452  0.3216     148136           AK
3            Agri  0.3466     68790  0.6534     129693          CHP
4          Amasya  0.5916    134428  0.4084      92811           AK

In [372]:
ele_2024 = pd.read_excel("Data/Local_Election_Turkey_2024.xlsx")


del ele_2024["CHEST"]
del ele_2024["Winner Year"]
del ele_2024["Winner Past Percentage"]
ele_2024
duplicate_rows = ele_2023.duplicated()                 #Check for duplicates
number_of_duplicates = ele_2023.duplicated().sum()
number_of_duplicates 
ele_2024
ele_2024 = ele_2024.rename(columns={"AK Party": "AK", "DEM Party": "DEM" }) #Rename Columns 
ele_2024

turkish_to_latin = {
    'ç': 'c', 'ğ': 'g', 'ı': 'i', 'ö': 'o', 
    'ş': 's', 'ü': 'u', 'Ç': 'C', 'Ğ': 'G', 
    'İ': 'I', 'Ö': 'O', 'Ş': 'S', 'Ü': 'U'
}

# Apply the mapping to your dataframe columns
ele_2024['CITY'] = ele_2024['CITY'].replace(turkish_to_latin, regex=True)
ele_2024['Winner Name'] = ele_2024['Winner Name'].replace(turkish_to_latin, regex=True)

ele_2024


#Change the "Oy" to "votes"

columns_to_update = ["AK", "MHP", "CHP", "Prosperity Again", "DEM", "Other"]  

# Replace ' Oy)' with ' votes)' for each specified column
# Replace "Votes" with "votes"
for col in columns_to_update:
    ele_2024[col] = ele_2024[col].str.replace(r' Oy\)', ' votes)', regex=True)
    ele_2024[col] = ele_2024[col].str.replace(r' Votes\)', ' votes)', regex=True)
    
ele_2024.head(1)

,CITY,AK,MHP,CHP,Prosperity Again,DEM,Other,Winner Name,Winner Percentage,Winner Party
0,ADANA,"37.43% (442,486 votes)",0% (0 votes),"46.57% (550,531 votes)","1.86% (22,090 votes)","5.6% (66,221 votes)","8.52% (100,715 votes)",Zeydan Karalar,0.4657,CHP

In [373]:
# Separting percentage from votes, and adding votes to another dataframe
votes = pd.DataFrame()
for col in columns_to_update:
    votes[col] = ele_2024[col].str.extract(r'(\d{1,3}(?:,\d{3})*) votes')[0]
    ele_2024[col] = ele_2024[col].str.replace(r'\s*\(\s*\d{1,3}(?:,\d{3})*\s*votes\s*\)', '', regex=True)
    ele_2024[col] = ele_2024[col].str.replace(r'\s*\([^)]*\)', '', regex=True).str.strip()

    

# Convert 'AK Votes' to numeric, avoiding errors (which turns non-numeric values to NaN)
for col in columns_to_update:
    votes[col] = votes[col].str.replace(',', '')
    votes[col] = pd.to_numeric(votes[col], errors='coerce')
    
#Convert "one%" into "1%"
ele_2024.at[10, "Prosperity Again"] = "1%"

# Converting  "Selahattin Ekicio?lu"...into...."Selahattin Ekicio?lu"
ele_2024.at[49, "Winner Name"] = "Selahattin Ekicioglu"

ele_2024.head(2)

,CITY,AK,MHP,CHP,Prosperity Again,DEM,Other,Winner Name,Winner Percentage,Winner Party
0,ADANA,37.43%,0%,46.57%,1.86%,5.6%,8.52%,Zeydan Karalar,0.4657,CHP
1,ADIYAMAN,27.42%,0%,49.74%,13.74%,2.65%,6.42%,Abdurrahman Tutdere,0.4974,AK Party

In [374]:
# Converting the column to string if it's not then striping the '%' and convert to float

for col in columns_to_update:
    ele_2024[col] = ele_2024[col].astype(str).str.rstrip('%').astype(float) / 100
ele_2024.head(5)

,CITY,AK,MHP,CHP,Prosperity Again,DEM,Other,Winner Name,Winner Percentage,Winner Party
0,ADANA,0.3743,0.0000,0.4657,0.0186,0.0560,0.0852,Zeydan Karalar,0.4657,CHP
1,ADIYAMAN,0.2742,0.0000,0.4974,0.1374,0.0265,0.0642,Abdurrahman Tutdere,0.4974,AK Party
2,AFYONKARAHISAR,0.3182,0.1087,0.5073,0.0211,0.0014,0.0430,Burcu Koksal,0.5073,AK Party
3,PAIN,0.3370,0.0000,0.0257,0.0471,0.5106,0.0794,Hazal Aras,0.5106,AK Party
4,AKSARAY,0.3685,0.2872,0.0779,0.0242,0.0027,0.2393,Evren Dincer,0.3685,AK Party

In [375]:
#Checking the data set for other errors
excel_file_path = 'Data/elections_2023_cleaned.xlsx'
ele_2023.to_excel(excel_file_path, index=False)

In [376]:
ele_2023.columns

Index(['City', 'AK', 'AK Votes', 'CHP', 'CHP Votes', 'Winner Party'], dtype='object')

81